<ion-content>
  <ion-icon name="arrow-back-outline" class="ion-padding" routerLink="/home"></ion-icon>
  <div class="main-section">
    <h3 class="ion-padding">{{ isEdit ? 'Edit transaction' : 'Add transaction' }}</h3>
    <div class="form ion-padding ion-margin">
      <ion-select interface="action-sheet" [(ngModel)]="type" placeholder="Select type">
        <ion-select-option value="income">Income</ion-select-option>
        <ion-select-option value="expense">Expense</ion-select-option>
      </ion-select>

      <ion-input placeholder="Title" [(ngModel)]="title"></ion-input>
      <ion-input placeholder="Sub title" [(ngModel)]="subTitle"></ion-input>
      <ion-input placeholder="Amount" type="number" [(ngModel)]="amount"></ion-input>

      <ion-button color="dark" (click)="addTransaction()">{{ isEdit ? 'Edit' : 'Add' }}&nbsp; <ion-spinner *ngIf="loading"></ion-spinner></ion-button>
    </div>
  </div>
</ion-content>